*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}
ul{
    list-style: none;
}
.widht{
    width: 100%;
}
.text-color-white{
    color: white;
}
.text-bold{
    font-weight: bold;
}
.space-between{
    justify-content: space-between;
}
.bg-color-blue{
    background-color: blue;
}
.bg-color-cyan{
    background-color: cyan;
}
