*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}
.left{
    padding: 20px 15px;
    width: 550px;
}
.right{
    padding: 20px 15px;
    width: 500px;
}
ul{
    list-style: none;
    align-items: center;
}
.left ul li a{
    text-decoration: none;
    color: black;
    
}
.right ul li a{
    text-decoration: none;
    color: black;
    
}
.pd-button{
    padding: 5px 15px;
    border: none;
}
.widht{
    width: 100%;
}
.text-color-white{
    color: white;
}
.text-bold{
    font-weight: bold;
}
.space-between{
    justify-content: space-between;
}
.bg-color-blue{
    background-color: #0061ff;
}
.bg-color-cyan{
    background-color: cyan;
}
